.card{
    border: 2px soild black;
    color: black;
    border-radius: 60px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    height: auto;
    background-color: white;
}
.image{

    max-width: 80%;
    height: auto;  
    border-radius: 20%;
    margin-bottom: 10px;
}
.cardTitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.card:hover{
    background-color: blue;
}
.card:hover .cardTitle{
    color: white;
}