/* Basic Reset for consistency and dark background */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #140919;
}

/* Container for the Terminal and Keyboard */
.min-h-screen {
  min-height: vh;
  min-width: 600px;
  flex-direction: column;
  align-items: center;
}

.p-8 {
    padding: 2rem;
}

.bg-gray-900 {
  background-color: #03020C;
  height: fit-content;
  display: flex;
}


/* Computer Screen/Terminal Container */
.w-full {
  width: 100%;
}


.max-w-4xl {
  max-width: 60rem;
}

.bg-gray-800 {
  background-color: black;
}

.rounded-t-lg {
  border-radius: 0.5rem 0.5rem 0 0;
}

.p-4 {
  padding: 0rem;
}

.border-2 {
  border-width: 2px;
}

.border-gray-700 {
  border-color: #4a5568;
}

/* Terminal Screen */
.bg-black {
  background-color: #000000;
  text-align: left;
}

.rounded {
  border-radius: 0.25rem;
}


.h-96 {
  height: 24rem; /* Height that was specified in React code */
}


.overflow-y-auto {
  overflow-y: auto;
}

.font-mono {
  font-family: monospace;
}

.text-green-500 {
  font-size: 1rem;
  color: #00ff6a;
}


.mb-1 {
    margin-bottom: 0.25rem;
}


.text-blue-400 {
    color: #60a5fa;
}

.hover\:underline:hover {
  text-decoration: underline;
}

/* input field */
.bg-transparent {
    background-color: transparent;
    text-align: left;
    border: none;
}

.outline-none {
  outline: none;
}

.flex-1 {
  flex: 1 1 0%;
}

.bg-gray-800 {
  background-color: #2d3748;
}



